
.navbar{

    display: flex;
    justify-content: space-around;
 
    padding: 16px;
    box-shadow: 0 1px 3px,-2px black;

}

.nav-logo{

    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo img{
    border-radius: 50%;
    border: 1px solid black;
}
.nav-logo p{

    display: flex;
    font-size: 38px;
    font-weight: 600;
}

.nav-menu{

    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: 20px;
    font-weight: 500;

}

.nav-menu li a{
    text-decoration: none;
    color: rgb(46, 43, 43);
}

.nav-menu ul{
    
    display: flex;
}

.nav-menu li{

    margin-left: 30px;
    margin-right: 30px;
    /* text-decoration: none; */
    list-style: none;
    cursor: pointer;
}

.nav-menu hr{

    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff4141;
}

.cart{

    display: flex;
    align-items: center;
    gap: 45px;
}

.cart button{

    width: 156px;
    height: 58px;
    outline: none;
    background: white;
    border: 1px solid #7a7a7a;
    border-radius:  75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;


}
.cart button:active{
   background: #f3f3f3;
}

.cart .cart-count{

    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:-35px ;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}

.nav-menu li:hover{

    transform: scale(1.5);
    transition: 0.6s;
}

.cart a{

    text-decoration: none;
    color: rgb(46, 43, 43);
}